<%= render 'directory/search_box' %>
<%= render 'layouts/messages' %>

<div class='container bg-white homepage'>
  <div class='col-sm-12'>
    <div class='col-md-8'>
      <%= directory_link image_tag("big-logo.png")%>
      <div class='button-bar text-center'>
        <%= directory_link I18n.t('discover_all_bots') + ' >>',
              klass: 'btn btn-primary btn-lg'
        %>
      </div>
      <%= render 'what_is_a_bot' %>

      <%= render 'providers_list' %>

    </div>

    <sidebar class='col-md-4' >
      <%= render 'presentation' %>
      <%= render partial: 'recently_added_bots' , locals:{title: I18n.t('homepage.recently_added_bots')}%>
    </sidebar>
  </div>
</div>