<a href="<%= bot_page_path(bot.permalink)%>" class='card col-md-12'>
    <%= image_tag bot.logo.url(:thumb) , class:'img-rounded', alt: bot.name%>
    <div class='body'>
      <h4 class="media-heading"><%= bot.name%></h4>
      <div class='tagline'><%=bot.tagline%></div>
      <% unless bot.categories.nil?%>
        <%= bot.categories.map{|c| "<span class='label label-default'>#{I18n.t("category.list.#{c}")}</span>"}.join(' ').html_safe %><br>
      <%end%>
      <% unless bot.platforms.empty?%>
        <%= bot.platforms.visible.map{|p| "<span class='label label-default'>#{p.provider.name}</span>"}.join(' ').html_safe %><br>
      <%end%>
      </div>

</a>
