
<%= render 'search_box' %>
<%= render 'layouts/messages' %>
<!-- Page Content -->
<div class="container">
    <!-- /.row -->
    <div class="col-md-12">
        <%= render 'sidebar' %>
        <div class="col-md-9 no-padding">
          <div class='index-header'>
            <h1><%=@title%></h1>
          </div>

            <%= render partial: 'bot', collection: @bots %>

          <div class='row clearfix col-sm-12 text-center'>
          <br>
            <%= will_paginate @bots, class:'apple_pagination' %>
            <%=link_to I18n.t('add_bot'), new_bot_path, class: 'btn btn-primary'%>
          </div>
        </div>
    </div>

</div>