<%= render 'layouts/messages' %>
<!-- Page Content -->
<div class="container">

    <div class='col-md-12'>
      <sidebar class='col-md-3 sidebar'>
        <%= image_tag @bot.logo.url(:medium), class:'logo'%>
        <div class="panel panel-primary">
          <div class="panel-heading"><%=I18n.t("bot_page.links")%></div>
          <div class='list-group'>
            <%= link_to "#{I18n.t("bot_page.official_website")}<span class='glyphicon glyphicon-new-window pull-right'></span>".html_safe, @bot.website , target:'offical', class:'list-group-item' %>
            </div>
        </div>
        <% unless @bot.categories.empty?%>
          <div class="panel panel-primary">
            <div class="panel-heading"><%=I18n.t("category", count:2).titlecase%></div>
            <div class='list-group'>
              <%@bot.categories.each do |category| %>
                <%= directory_link I18n.t("category.list.#{category}"),
                    category: category,
                    klass: 'list-group-item'
                %>
              <%end%>
            </div>
          </div>
        <%end%>
        <% unless @bot.languages.nil?%>
          <div class="panel panel-primary">
            <div class="panel-heading"><%=I18n.t("language",count: @bot.languages.length).titlecase%></div>
            <div class='list-group'>
              <%@bot.languages.each do |language| %>
                <%= directory_link I18n.t("language.list.#{language}"),
                    language: language,
                    klass: 'list-group-item'
                %>
              <%end%>
            </div>
          </div>
        <%end%>
      </sidebar>
      <div class='col-md-9 bot-presentation'>
          <h1><%= @bot.name %></h1>

          <p class='tagline'><%= @bot.tagline %></p>
          <p><%= @bot.description %></p>

          <h3><%=I18n.t("bot_page.present_on_platforms")%></h3>
          <div class='logos'>
            <% @bot.platforms.visible.each do |p| %>
              <%= link_to image_tag(p.provider.icon.url(:thumb)), p.url, target:'_platform'%>
            <%end%>
          </div>
          <p>
            <strong>Date de création:</strong> <%= I18n.l @bot.created_at.to_date%><br>
            <strong>Date de dernière mise à jour:</strong> <%= I18n.l @bot.updated_at.to_date%>
          </p>

          <div class='button-bar'>
            <%= link_to I18n.t('edit'), edit_bot_path(@bot) , class:'btn btn-default' if current_user && current_user.has_role?(:admin) %>
            <%= link_to I18n.t('add_bot'), new_bot_path(), class:'btn btn-default' %>
            <%= link_to I18n.t('return'), :back, class:'btn btn-default' %>
          </div>
        </div>
      </div>

    </div>
</div>


