<a href="<%= bot_path(bot.permalink)%>">
  <div class='card col-md-12 row'>
    <div class='pull-left'>
      <%= image_tag bot.logo.url(:thumb) , class:'img-rounded', alt: bot.name%>
    </div>
    <div>
      <h4 class="media-heading"><%=link_to bot.name, bot%></h4>
      <%=bot.tagline%><br>
      <% unless bot.categories.nil?%>
        <%= bot.categories.map{|c| "<span class='label label-default'>#{c}</span>"}.join(' ').html_safe %><br>
      <%end%>
      <% unless bot.platforms.nil?%>
        <%= bot.platforms.map{|p| "<span class='label label-default'>#{p.gsub('_', ' ')}</span>"}.join(' ').html_safe %><br>
      <%end%>
      </div>
  </div>
</a>
