
<%= simple_form_for(@bot, html: { class: 'form-horizontal ' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

    <%= render 'button_bar', f: f  %>


    <%= f.error_notification %>
    <%= f.input :name %>
    <h3>Taglines</h3>
    <%= f.input :tagline_en %>
    <%= f.input :tagline_fr %>
    <h3>Descriptions</h3>
    <%= f.input :description_en, input_html: {rows: 5 }%>
    <%= f.input :description_fr, input_html: {rows: 5 } %>
    <%= f.input :website , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :product_hunt_url , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :venture_beat_url , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :categories,
        as: :check_boxes,
        collection: Bot::CATEGORIES ,
        label_method: ->(obj){ t("category.list.#{obj}") },
        input_html: { class: 'col-md-4' }
    %>
    <%= f.input :languages,
        as: :check_boxes,
        collection: Bot::LANGUAGES,
        label_method: ->(obj){ t("language.list.#{obj}") }
    %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :logo, as: :file %>

  <h3><%=I18n.t('simple_form.labels.bot.platforms')%></h3>
    <%= f.input :amazon_echo_url , as: :url, label: 'Amazon Echo', placeholder: 'http://example.com'%>
    <%= f.input :android_url, as: :url , label: 'Android', placeholder: 'http://example.com'%>
    <%#= f.input :discord_url, as: :url , label: 'Discord', placeholder: 'http://example.com'%>
    <%= f.input :email_url, as: :url , label: 'Email', placeholder: 'http://example.com'%>
    <%= f.input :imessage_url, as: :url , label: 'iMessage', placeholder: 'http://example.com'%>
    <%= f.input :ios_url, as: :url , label: 'iOS', placeholder: 'http://example.com'%>
    <%= f.input :kik_url, as: :url , label: 'Kik', placeholder: 'http://example.com'%>
    <%= f.input :messenger_url, as: :url , label: 'Messenger', placeholder: 'http://example.com'%>
    <%= f.input :skype_url, as: :url , label: 'Skype', placeholder: 'http://example.com'%>
    <%= f.input :slack_url, as: :url , label: 'Slack', placeholder: 'http://example.com'%>
    <%= f.input :sms_url, as: :url , label: 'Sms', placeholder: 'http://example.com'%>
    <%= f.input :telegram_url, as: :url , label: 'Telegram', placeholder: 'http://example.com'%>
    <%= f.input :twitter_url, as: :url , label: 'Twitter', placeholder: 'http://example.com'%>
    <%= f.input :web_url, as: :url , label: 'Web', placeholder: 'http://example.com'%>

    <%= render 'button_bar', f: f %>
<% end %>
