
<%= simple_form_for(@bot, html: { class: 'form-horizontal ' },
  wrapper: :horizontal_form,
  wrapper_mappings: {
    check_boxes: :horizontal_radio_and_checkboxes,
    radio_buttons: :horizontal_radio_and_checkboxes,
    file: :horizontal_file_input,
    boolean: :horizontal_boolean
  }) do |f| %>

    <%= render 'button_bar', f: f  %>


    <%= f.error_notification %>
    <%= f.input :name %>
    <%= f.input :status,
        collection: Bot::STATUSES ,
        label_method: ->(obj){ t("category.list.#{obj}") },
        input_html: { class: 'col-md-4' }
    %>
    <h3>Taglines</h3>
    <%= f.input :tagline_en %>
    <%= f.input :tagline_fr %>
    <h3>Descriptions</h3>
    <%= f.input :description_en, input_html: {rows: 5 }%>
    <%= f.input :description_fr, input_html: {rows: 5 } %>
    <h3>Test</h3>
    <%= f.input :test_en, input_html: {rows: 5 }%>
    <%= f.input :test_fr, input_html: {rows: 5 } %>
    <%= f.input :tested_on, as: :date, html5: true, wrapper: :horizontal_form%>
    <%= f.input :website , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :product_hunt_url , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :venture_beat_url , as: :url, placeholder: 'http://example.com'%>
    <%= f.input :categories,
        as: :check_boxes,
        collection: Bot::CATEGORIES ,
        label_method: ->(obj){ t("category.list.#{obj}") },
        input_html: { class: 'col-md-4' }
    %>
    <%= f.input :languages,
        as: :check_boxes,
        collection: Bot::LANGUAGES,
        label_method: ->(obj){ t("language.list.#{obj}") }
    %>
    <%= f.input :twitter %>
    <%= f.input :facebook %>
    <%= f.input :logo, as: :file %>

  <h3><%=I18n.t('simple_form.labels.bot.platforms')%></h3>
    <%= f.simple_fields_for :platforms do |p| %>
      <%= p.input :url, as: :url, label: p.object.provider.name,  placeholder: 'http://example.com'%>
      <%= p.hidden_field :provider_id%>
    <% end %>
    <%= render 'button_bar', f: f %>
<% end %>
