<!-- Sidebar Column -->
<sidebar class="col-md-3 sidebar">
  <div class="panel panel-primary">
    <div class="panel-heading"><%=I18n.t('platform', count: 2).titlecase%></div>
    <div class="list-group">
      <%= directory_link I18n.t('platform.all'),
          category: @category,
          language: @language,
          klass: 'list-group-item italic'
      %>
      <% Bot::PLATFORMS.each do |platform|%>
        <%= directory_link platform,
            platform: platform,
            language: @language,
            category: @category,
            klass: 'list-group-item'
        %>
      <%end%>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%=I18n.t('category', count: 2).titlecase%></div>
    <div class="list-group">
      <%= directory_link I18n.t('category.all'),
          platform: @platform,
          language: @language,
          klass: 'list-group-item italic'
      %>
      <% Bot::CATEGORIES.each do |category|%>
        <%= directory_link I18n.t("category.list.#{category}"),
            platform: @platform,
            language: @language,
            category: category,
            klass: 'list-group-item'
        %>
      <%end%>
    </div>
  </div>
  <div class="panel panel-primary">
    <div class="panel-heading"><%=I18n.t('language', count: 2).titlecase%></div>
    <div class="list-group">
      <%= directory_link I18n.t('language.all'),
          platform: @platform,
          language: I18n.t('language.all_slug'),
          category: @category,
          klass: 'list-group-item italic'
      %>
      <% Bot::LANGUAGES.each do |language|%>
        <%= directory_link I18n.t("language.list.#{language}"),
            platform: @platform,
            language: language,
            category: @category,
            klass: 'list-group-item'
        %>
      <%end%>
    </div>
  </div>
</sidebar>