<!-- Page Content -->
<div class="container">

    <!-- Page Heading/Breadcrumbs -->
    <div class="row">
        <div class="col-lg-12 well text-center form-inline">
          <%= form_tag bots_path , method: :get do%>
            <%= search_field_tag 'keywords', params[:keywords], class:'form-control', style:'width: 50%' %>
            <%= button_tag "Rechercher", class: "btn btn-primary"%>
          <%end%>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <!-- Sidebar Column -->
        <div class="col-md-3">
          <div class="panel panel-primary">
            <div class="panel-heading">Plateformes</div>
            <div class="list-group">
              <% Bot::PLATFORMS.each do |platform|%>
                  <%= link_to platform.gsub('_', ' '), bot_directory_path(platform: platform, category: @category, language: @language), class: 'list-group-item' %>
              <%end%>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Catégories</div>
            <div class="list-group">
              <% Bot::CATEGORIES.each do |category|%>
                  <%= link_to category, bot_directory_path(category: category , platform: @platform, language: @language), class: 'list-group-item' %>
              <%end%>
            </div>
          </div>
          <div class="panel panel-primary">
            <div class="panel-heading">Langues</div>
            <div class="list-group">
              <% Bot::LANGUAGES.each do |language|%>
                  <%= link_to language, bot_directory_path(category: @category , platform: @platform, language: language), class: 'list-group-item' %>
              <%end%>
            </div>
          </div>

        </div>
        <div class="col-md-9">
            <h2 class='text-primary'><%=@title%></h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta, et temporibus, facere perferendis veniam beatae non debitis, numquam blanditiis necessitatibus vel mollitia dolorum laudantium, voluptate dolores iure maxime ducimus fugit.</p>

            <%= render @bots %>

          <div class='row clearfix col-sm-12 text-center'>
            <%=link_to 'Soumettre un Nouveau Bot', new_bot_path, class: 'btn btn-default'%>
          </div>
        </div>
    </div>

</div>