<h1><span id='bot_number'></span>Bots </h1>

<div class="button-bar">
  <%=link_to I18n.t('add_bot'), new_bot_path, class: 'btn btn-primary'%>
</div>

<div id="toolbar">
<div class='col-sm-4'>
  <%= select_tag :category, options_for_select(Bot::CATEGORIES, params[:category], ),  class: 'form-control input-sm', id:'category',include_blank: I18n.t('category.all')%>
</div>
<div class='col-sm-4'>
  <%= select_tag :platform,
      options_for_select(
        Provider.all.map{|p| [p.name, p.id]},
        params[:platform]
      ),
      class: 'form-control input-sm', id:'platform',include_blank: I18n.t('platform.all')%>
</div>
<div class='col-sm-4'>
  <%= select_tag :status, options_for_select(Bot::STATUSES, params[:status], ),  class: 'form-control input-sm', id:'status',include_blank: I18n.t('status.all')%>
</div>
</div>

<table class='table table-hover table-condensed table-striped' id="bots"
       data-side-pagination="server"
       data-pagination="true"
       data-search="true"
       data-show-refresh="true"
       data-toolbar="#toolbar"
       data-page-size='50'
       data-show-columns="true"
       data-unique-id="id"
>
  <thead>
    <tr>
      <th>Id</th>
      <th><%=I18n.t('simple_form.labels.bot.name')%></th>
      <th><%=I18n.t('simple_form.labels.bot.created_at')%></th>
      <th><%=I18n.t('simple_form.labels.bot.updated_at')%></th>
      <th>Status</th>
      <th><%=I18n.t('simple_form.labels.bot.categories')%></th>

    </tr>
  </thead>
  <tbody style="cursor: pointer">
  </tbody>
</table>



