<%= image_tag @bot.logo.url(:medium) %>
<p>
  <strong>Name:</strong>
  <%= @bot.name %>
</p>

<p>
  <strong>Tagline:</strong>
  <%= @bot.tagline %>
</p>

<p>
  <strong>Description:</strong>
  <%= @bot.description %>
</p>

<p>
  <strong>Website:</strong>
  <%= @bot.website %>
</p>

<p>
  <strong>Twitter:</strong>
  <%= @bot.twitter %>
</p>

<p>
  <strong>Facebook:</strong>
  <%= @bot.facebook %>
</p>
<p>
  <strong>Product Hunt:</strong>
  <%= link_to @bot.product_hunt_url %>
</p>
<p>
  <strong>Venture Beat:</strong>
  <%= link_to @bot.venture_beat_url %>
</p>

<% unless @bot.categories.nil?%>
<p>
  <strong>Catégories:</strong>
  <%= @bot.categories.map{|c| "<span class='label label-default'>#{c}</span>"}.join(' ').html_safe %>
</p>
<%end%>
<% unless @bot.platforms.nil?%>
<p>
  <strong>Plateformes:</strong>
  <%= @bot.platforms.map{|p| "<span class='label label-default'>#{p}</span>"}.join(' ').html_safe %>
</p>
<%end%>

<% unless @bot.languages.nil?%>
<p>
  <strong>Langues:</strong>
  <%= @bot.languages.map{|p| "<span class='label label-default'>#{p}</span>"}.join(' ').html_safe %>
</p>
<%end%>

<p>
  <strong>Date de création:</strong>
  <%= @bot.created_at%>
</p>
<p>
  <strong>Date de dernière mise à jour:</strong>
  <%= @bot.updated_at%>
</p>


<%= link_to 'Editer', edit_bot_path(@bot) , class:'btn btn-default'%> <%= link_to 'Soumettre un Nouveau Bot', new_bot_path(), class:'btn btn-default' %>
<%= link_to 'Retour', bots_path, class:'btn btn-default' %>
