<h1><%= SelectedBot.count%> Seleted Bots </h1>

<table class='table table-hover table-condensed table-striped'>
  <thead>
    <tr>
      <th><%=I18n.t('simple_form.labels.bot.name')%></th>
      <th colspan=2>Dates</th>

    </tr>
  </thead>
  <tbody>
    <% @selected_bots.each do |selected_bot| %>
      <tr>
        <td><%=link_to selected_bot.bot.name, edit_selected_bot_path(selected_bot) %></td>
        <td><%=selected_bot.start_date%></td>
        <td><%=selected_bot.end_date%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= will_paginate @selected_bots, class:'apple_pagination' %>
<div class="button-bar">
  <%=link_to "Add", new_selected_bot_path, class: 'btn btn-primary'%>
</div>

