<h1><%= pluralize @posts.total_entries, 'post'%> </h1>

<table class='table table-hover table-condensed table-striped'>
  <thead>
    <tr>
      <th><%=I18n.t('simple_form.labels.post.title')%></th>
      <th><%=I18n.t('simple_form.labels.post.published_at')%></th>
      <th><%=I18n.t('simple_form.labels.post.language')%></th>
    </tr>
  </thead>
  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%=link_to post.title, edit_post_path(post) %></td>
        <td><%=post.published%></td>
        <td><%=post.language%></td>
      </tr>
    <%end%>
  </tbody>
</table>
<%= will_paginate @posts, class:'apple_pagination' %>
<div class="button-bar">
  <%=link_to I18n.t('add_post'), new_post_path, class: 'btn btn-primary'%>
</div>

