<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Botenstock" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "My Application" %>">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <!-- Custom Fonts -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  </head>
  <body>
    <header>
      <%= render 'layouts/navigation' %>
    </header>
    <div class='admin-container'>
      <div class='sidebar col-md-2'>
        <a href="<%=admin_path()%>">
          Statistiques
        </a>

        <a href="<%=providers_path()%>">
          <%= I18n.t('provider', count: 2).titlecase %>
          <span class="badge"><%=Provider.count%></span>
        </a>
        <a href="<%=bots_path()%>">
          Bots
          <span class="badge"><%=Bot.count%></span>
        </a>
        <a href="<%=posts_path()%>">
          <%= I18n.t('post', count: Post.count).titlecase %>
          <span class="badge"><%=Post.count%></span>
        </a>
        <a href="<%=photos_path()%>">
          Photos
          <span class="badge"><%=Photo.count%></span>
        </a>
        <a href="<%=logos_path()%>">
          Logos
        </a>
      </div>
      <div class='col-md-10'>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
